<div class="container">
  <div class="row">
    <h1 style="text-align: center">Start your own Campaign!</h1>
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Start a Campaign</h4>
        <br>
        <p>Get started with your <strong>FREE</strong> Todah campaign!</p>
        <strong>By creating a Todah Campaign you will be able to raise More money faster! So let's get started...</strong>
        <br>
        <ol>
          <br>
          <li>
            <strong>TELL YOUR STORY - You have a compelling story, so share it through words, pictures and video.</strong>
            <em>(Campaigns with videos garner 4x the funds as those with no video.  
              It doesn't need to be a fancy professional video.  
              It can just be a simple mobile phone video showing your impact through testimonials or whatever tells your story of impact best.)</em>
          </li>
          <br>
          <li>
            <strong>SET A CAMPAIGN GOAL</strong>
            <p>Once you have decided how much you need to raise for your project, 
              you will find interactive sliders on your profile page to help you pick the best giving 
              ranges to fulfill that goal based on what you know about your donor/contact lists (how many people, their giving ability, their networks, etc.)</p>
          </li>
          <li>
              <strong>SPREAD THE WORD!</strong>
              <p>Now all you have to do is share it! Post it on your <strong>ALL</strong> your social media pages, 
                send it out to your email list, and ask everyone you know to share it with all their contacts too!
                <em>(Make it so compelling that they won’t be able to help themselves!)</em> </p>
          </li>
        </ol>
        <p>It's that simple!</p>
        <!-- TODO link to tips on how to succeed -->
        <p><em><strong>Note:</strong> There is an 8% transaction fee for each contribution.</em></p>
      </div>
    </div>
    <hr>
    <div class="row" style="text-align: center">
      <div class="col-md-6">
        <div class="well">
        <h3>As a Nonprofit</h3>
        <br>
        <a routerLink="/startCampaign-success">
          <button type="button" class="btn btn-lg">Start!</button>
        </a>
        <br>
        <br>
        <p>Choose this if you are fundraising for a particular Nonprofit. 
            It is required to be a valid Nonprofit with an active EIN number. 
            Donations to this campaign <strong>ARE</strong> tax deductable.</p>
      </div>
      </div>
      <div class="col-md-6">
        <div class="well">
        <h3>As a Personal Cause</h3>
        <br>
        <a routerLink="/startCampaign-success">
          <button type="button" class="btn btn-lg">Start!</button>
        </a>
        <br>
        <br>
        <p>Choose this if you are creating a campaign that is not directly associated with a Nonprofit. 
          Instead, this is a personal cause for an individual or a family. <strong>Note:</strong> it is <strong>NOT</strong> Tax Deductable.</p>
      </div>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>
</div>