<div class="container">
  <div class="row">
    <h1 style="text-align: center">How it Works!</h1>
    <!-- Promo video here -->
    
    <div class="col-md-4" style="text-align: center">
      <a routerLink="/howToSucceed"><button type="button" class="btn btn-primary">SUCCESS!</button></a>
    </div>
    <div class="col-md-4" style="text-align: center">
      <a routerLink="/faq"><button type="button" class="btn btn-default">Frequently Asked Questions</button></a>
    </div>
    <div class="col-md-4" style="text-align: center">
      <a routerLink="/startCampaign"><button type="button" class="btn btn-warning">Start Your Campaign!</button></a>
    </div>
  </div>
</div>
<br><br><br>
    