.example-h2 {
    margin: 0px;
  }
  
  /* .example-section3 {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  } */
  
  .example-margin {
    margin: 0px;

  }
/* 
  .example-margin3 {
    width:800px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    outline: none;
    vertical-align: middle;
  }
   */

 
 
