.example-h2 {
    margin: 0px;
  }
  
  /* .example-section3 {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  } */
  
  .example-margin {
    margin: 0px;

  }
/* 
  .example-margin3 {
    width:800px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    outline: none;
    vertical-align: middle;
  }
   */

  .colored{
    color:yellow;
      opacity:.7
  }
  .mat-slider-thumb-container {
    background-color:yellow;

  }
  .mat-slider-wrapper{
      background-color:yellow;
  }
.mat-slider-thumb-label {
background-color:yellow;
}