<div class="container">
  <div class="row">
    <h1 style="text-align: center">Start Your Own Campaign!</h1>
    <h2 style="text-align: center">Create Your Campaign!</h2>
    <h3>Contribution Information (2/3)</h3>
  </div>
  <!-- Form -->
  <!-- <form [formGroup]="campaignForm" #f="ngForm" (ngSubmit)="onSubmit(f)"> -->
  <!-- <div>
        <div class="form-group">
          <label>Type and Select Organization Name (or 501(c)(3)number)
            <sup>*</sup>
          </label>
          <input type="text" placeholder="Organization Name" id="organization_name" formControlName="organization_name" class="form-control">
          
        </div> -->
  <!-- <div class="form-group">
          <label>Chapter Name</label>
          <input type="text" placeholder="Organization Chapter Name or Number (if applicable)" id="organization_chapter_name" formControlName="organization_chapter_name"
            class="form-control">
        </div> -->
        
<form [formGroup]="campaignPg2" #f="ngForm" (ngSubmit)='onSubmit(f)'>
  <div class="row">
    <div class="col-lg-12">
      <label>Campaign Goal*</label>
      </div>
      </div>
      <div class="row">
          <div class="form-group">
              <input type="text" formControlName="goal" placeholder="$0.00" class="form-control">
            </div>
    <div class="row">
      <div class="col-md-7">
        Pre-Campaign Funds Raised
      </div>
      <div class="col-md-2">
        End Date*
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <input type="checkbox" class="mat-checkbox-input"> Make this a Monthy Campaign!
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <input type="text" formControlName="initial_funded" class="form-control align-left" placeholder="$0">
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <div class="form-group">
            <input type="date" formControlName="end_date"  class="form-control align-right" placeholder="MM/DD/YYY" >
          </div>
        </div>
      </div>
      <div style="text-align:center">
          <br>
            <button type="button" class="btn btn-default">How do these Sliders Work?</button>
          </div>
    </div>
 
    <br>
    <br>
    <br>
      <mat-card class="You">
        <mat-card-content>
          
          <h2 class="example-h2"></h2>
          
            <div class="colored">
              <h3>$1-10... Can be repeated 5 times with a possible sum of $275</h3>
              <br>
          <mat-slider
          class="example-margin3"
          id='slider_range1'
          [(ngModel)]="value"
              [invert]="invert"
              [max]="max"
              [min]="min"
              [step]="step"
              [thumb-label]="thumbLabel"
              [tick-interval]="tickInterval"          
              [vertical]="vertical"
              formControlName = 'slider_ranges1'>
          </mat-slider>
        </div>
        <hr>
      
            
              <div class="colored">
                  <h3>$11-25... Can be repeated 4 times with a possible sum of $1,080</h3>
                  <br>
            <mat-slider
            class="example-margin3"
            id='slider_range2'
            [(ngModel)]="value"
              [invert]="invert"
              [max]="max"
              [min]="min"
              [step]="step"
              [thumb-label]="thumbLabel"
              [tick-interval]="tickInterval"          
              [vertical]="vertical"
              formControlName = 'slider_ranges2'>
            </mat-slider>
          </div>
          <hr>
        
              
                <div class="colored">
                    <h3>$26-50... Can be repeated 4 times with a possible sum of $3,800</h3>
                    <br>
              <mat-slider
              class="example-margin3"
              id='slider_range3'
              [(ngModel)]="value"
              [invert]="invert"
              [max]="max"
              [min]="min"
              [step]="step"
              [thumb-label]="thumbLabel"
              [tick-interval]="tickInterval"          
              [vertical]="vertical"
              formControlName = 'slider_ranges3'>
              </mat-slider>
            </div>
            <hr>
               
                
                  <div class="colored">
                      <h3>$51-100... Can be repeated 1 times with a possible sum of $3,775</h3>
                      <br>
                <mat-slider
                class="example-margin3"
                id='slider_range4'
                [(ngModel)]="value"
                [invert]="invert"
                [max]="max"
                [min]="min"
                [step]="step"
                [thumb-label]="thumbLabel"
                [tick-interval]="tickInterval"          
                [vertical]="vertical"
                formControlName = 'slider_ranges4'>
                </mat-slider>
              </div>
              <hr>
              <div class="colored">
                  <h3>$101-150... Can be repeated 0 times with a possible sum of $0</h3>
                  <br>
            <mat-slider
            class="example-margin3"
            id='slider_range5'
            [(ngModel)]="value"
              [invert]="invert"
              [max]="max"
              [min]="min"
              [step]="step"
              [thumb-label]="thumbLabel"
              [tick-interval]="tickInterval"          
              [vertical]="vertical"
              formControlName = 'slider_ranges5'>
            </mat-slider>
          </div>
              
                  
                    <div class="colored">
                        <h3>$151-200... Can be repeated 0 times with a possible sum of $0</h3>
                        <br>
                  <mat-slider
              class="example-margin3"
              id='slider_range6'
              [(ngModel)]="value"
              [invert]="invert"
              [max]="max"
              [min]="min"
              [step]="step"
              [thumb-label]="thumbLabel"
              [tick-interval]="tickInterval"          
              [vertical]="vertical"
              formControlName = 'slider_ranges6'>
                  </mat-slider>
                </div>
                <div class="colored">
                    <h3>$201-250... Can be repeated 1 times with a possible sum of $11,275</h3>
                    <br>
              <mat-slider
              class="example-margin3"
              id='slider_range7'
              [(ngModel)]="value"
              [invert]="invert"
              [max]="max"
              [min]="min"
              [step]="step"
              [thumb-label]="thumbLabel"
              [tick-interval]="tickInterval"          
              [vertical]="vertical"
              formControlName = 'slider_ranges7'>
              </mat-slider>
            </div>
            <div class="colored">
                <h3>$251-300... Can be repeated 1 times with a possible sum of $13,775</h3>
                <br>
          <mat-slider
          class="example-margin3"
              id='slider_range8'
              [(ngModel)]="value"
              [invert]="invert"
              [max]="max"
              [min]="min"
              [step]="step"
              [thumb-label]="thumbLabel"
              [tick-interval]="tickInterval"          
              [vertical]="vertical"
              formControlName = 'slider_ranges8'>
          </mat-slider>
          <!-- <button mat-button [click]='onClick'>+ Add Slider</button> -->
        </div>
                </mat-card-content>
             
              </mat-card>
      <br>
      <br>
      <br>
      <div class="row">
        <!-- <form action=''> -->
        <!-- </form> -->
        <div class="col-md-4">
          <button type="submit" class="btn btn-warning">LAUNCH YOUR CAMPAIGN!</button>
        </div>
        <div class="col-md-4">
          <a routerLink="/profile"><button type="button" class="btn btn-primary">Save for Later</button></a>
        </div>
        <div class="col-md-4">
          <a routerLink="/deleteCampaign"><button type="button" class="btn btn-danger">Delete this Fundraiser</button></a>
        </div>
      </div>
    </form>