<!-- Add copyright and patent pending somewhere here -->
<!-- Look into what mobile functionality is needed here -->

  <hr />
  <div class="panel-body col-lg-12">
<div class="row">
  <div class="col-lg-12" id="footer_color">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#">Welcome to Todah!</a></li>
        <li><a href="#">Short Bio</a></li>
        <li><a href="#">Patent Pending</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#">Get in Touch!</a></li>
        <li><input type="text" placeholder="Email Field"></li>
        <br>
        <button>Submit</button>
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#">What is Todah?</a></li>
        <li><a href="#">Start a Campaign</a></li>
        <li><a href="#">How to Succeed</a></li> 
        <li><a href="#">FAQs</a></li>  
        <li><a href="#">Pricing</a></li>          
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#">Stoplight</a></li>
        <li><a href="#">Popular</a></li>
        <li><a href="#">Recent</a></li>
        <li><a href="#">Most Funded</a></li>
      </ul>
    </div>  
  </div>
</div>
  <div class="row">
      <div class="col-lg-12">
          <ul class="nav nav-pills nav-justified">
              <li><a href="/">© 2018 Todah</a></li>
              <li><a href="#">Terms of Service</a></li>
              <li><a href="#">Privacy</a></li>
          </ul>
      </div>
  </div>
</div>

<!-- <div class="panel panel-default">
  <div class="panel-body">
    <p>
      <a routerLink="/startCampaign">
        <button type="button" class="btn btn-warning">Start a Campaign</button>
      </a>
    </p>
  </div>
</div>
<footer class="fixed-bottom">
  <nav class="navbar navbar-default">
    <div class="container" style="text-align: center">
      <form class="navbar-form">

      </form>
    </div>
    <div class="container">
      <div class="first col-md-12 center-block align">
        <ul class="nav navbar-nav list-inline">
          <li>
            <a routerLink="/welcome">Welcome to Todah!</a>
          </li>
          <li>
            <a routerLink="/shortBio">Short Bio</a>
          </li>
          <li>
            <a routerLink="/patentPending">Patent Pending</a>
          </li>
        </ul>
      </div>
      <div class="sec col-md-12 center-block align">
          <ul class="nav navbar-nav list-inline">
            <li>
              <a routerLink="/howItWorks">What is Todah?</a>
            </li>
            <li>
              <a routerLink="/startCampaign">Start a Campaign</a>
            </li>
            <li>
              <a routerLink="/succeed">How to Succeed</a>
            </li>
            <li>
              <a routerLink="/faqs">FAQs</a>
            </li>
            <li>
              <a routerLink="/pricing">Pricing</a>
            </li>
          </ul>
        </div>
      <div class="third col-md-12 center-block align">
        <ul class="nav navbar-nav list-inline">
          <li>
            <a routerLink="/getInTouch">Get in touch!</a>
          </li>
          <li>
            <a routerLink="/startCampaign">Start a Campaign</a>
          </li>
          <li>
              <a routerLink="/submit">
                <button type="button" class="btn btn-warning">Submit button</button>
              </a>
          </li>
        </ul>
      </div>
      <div class="fourth col-md-12 center-block align">
        <ul class="nav navbar-nav list-inline">
          <li>
            <a routerLink="/spotLight">Spotlight</a>
          </li>
          <li>
            <a routerLink="/popular">Popular</a>
          </li>
          <li>
            <a routerLink="/recent">Recent</a>
          </li>
          <li>
            <a routerLink="/mostFunded">Most Funded</a>
          </li>
        </ul>

      </div>
    
  </nav>
 
</footer> -->

-->

