<!-- Add copyright and patent pending somewhere here -->
<!-- Look into what mobile functionality is needed here -->

  <div class="panel-body col-lg-12">
<div class="row">
  <div class="col-lg-12" id="footer_color">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#">Welcome to Todah!</a></li>
        <li><a href="#">Short Bio</a></li>
        <li><a href="#">Patent Pending</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#">Get in Touch!</a></li>
        <li><input type="text" placeholder="Email Field"></li>
        <br>
        <button>Submit</button>
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#">What is Todah?</a></li>
        <li><a routerLink="/startCampaign">Start a Campaign</a></li>
        <li><a routerLink="/howToSucceed">How to Succeed</a></li> 
        <li><a routerLink="/faq">FAQs</a></li>  
        <li><a routerLink="/pricing">Pricing</a></li>      
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#">Stoplight</a></li>
        <li><a href="#">Popular</a></li>
        <li><a href="#">Recent</a></li>
        <li><a href="#">Most Funded</a></li>
      </ul>
    </div>  
  </div>
</div>
  <div class id="row" >
      <div class="col-lg-12">
          <ul class="nav nav-pills nav-justified">
              <li><a href="#" class id="bottom">© 2018 Todah</a></li>
              <li><a href="#" class id="bottom">Terms of Service</a></li>
              <li><a href="#" class id="bottom">Privacy</a></li>
          </ul>
      </div>
  </div>
</div>


