a {
  text-decoration: none;
}

.navbar {
  height: 5.5rem;
  margin-bottom: 0;
  background-color: #1F3D49;
}


#secondNav { 
  background-color: lightgrey;
  height: 16rem;
 
}


button {
  border-radius: 0;
  background-color: #63bad3;
  color: white;
  text-decoration: none;
  padding: 20px 40px;
  margin-left: 30px;
  
}

.btnn {
  border-radius: 0;
  background-color:lightgray;
  color: white;
  padding: 5px 40px 5px 30px;
  font-size: 15px;
  margin-left: 2rem !important;
}



.todahHeaderLogo {
  height: 60%;
  margin-top: 1.5%;
  padding: 0 2.7% 0 2%;
}


.navbar-brand {
  position: relative;
  top: .7px;
  left: 12px;
  color: lightgray;
  font-size: 12px;

  
}



.how-it-works {
  position:relative;
  top: 15px;
  left: 29px;
  font-size: 12px;
  color: lightgray;
}

.about {
  position:relative;
  top: 15px;
  left: 60px;
  font-size: 12px;
  color: lightgray;
}

.contact {
  position:relative;
  top: 15px;
  left: 90px;
  font-size: 12px;
  color: lightgray;
}

.profile {
  position:relative;
  top: 15px;
  left: 120px;
  font-size: 12px;
  color: lightgray;
}
/* .Register {
  position:relative;
  top: 15px;
  left: 150px;
  font-size: 12px;
  color: lightgray;
}
.Login {
  position:relative;
  top: 15px;
  left: 180px;
  font-size: 12px;
  color: lightgray;
} */

/* .pricing {
  position:relative;
  top: 15px;
  left: 32px;
  font-size: 12px;
  color: lightgray;
} */





.loginRetister {
  margin: 2.5rem 5rem;
}

  
.container-12 {
  margin: 130px 471px 0 471px;
} 

.modal-dialog {
  margin: 0;
}

.registermodal {
  margin: 2rem;
}
.signinmodal {
  margin: 2rem;
}

.spanx {
  margin-right: 15rem;
  color: white;

}


.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #63bad3 !important;
    border-color: #63bad3 !important;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #63bad3;
    border-color: #63bad3;
    
}


