.navbar {
  height: 5.5rem;
  margin-bottom: 0;
  background-color: #1d3641;
}

#secondNav { 
  background-color: lightgrey;
  height: 11rem;
 
}

.btn {
  border-radius: 0;
  background-color: #49adc1;
  color: white;
}

/* .btn active {
  background-color: #286d87;
} button select*/

.todahHeaderLogo {
  height: 60%;
  margin-top: 1.5%;
  padding: 0 2.7% 0 2%;
}

.loginRetister {
  margin: 2.5rem 5rem;
}

  
.container-12 {
  margin: 130px 471px 0 471px;
} 

.modal-dialog {
  margin: 0;
}

.registermodal {
  margin: 2rem;
}
.signinmodal {
  margin: 2rem;
}

.spanx {
  margin-right: 15rem;
  color: white;
}