.jumbotron {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
}

.panel {
  background-color: lightgray;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

video {
  float: center;
  display: block;
  margin: 0 auto;
}
