
<div class="jumbotron" style="background-image: url('../../assets/jumbo.jpeg')">
  <div class="container" style="text-align: center">
    <h1 style="color: white">Todah</h1>
    <h3 style="color: white">Smaller Gifts, Bigger Impact</h3>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>  
    <!-- Button to scroll down to promo video -->
    <p><a href="#video" role="button" class="btn btn-primary large">Watch!</a></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <!-- Promo video here -->
    <div class="col-md-12" style=" text-align: center">
      <img src="../../assets/jumbo.jpeg" style="max-width: 60%" id="video">
    </div>
    <!-- Comparison of different fundraising techniques and pathway to creating campaign here -->
    <div class="col-md-12">
     
    </div>
  </div>
</div>
<!-- pyramid -->
<div class='panel panel-default'>
  <div class='panel-body'>
<h1 class="text-center">Todah is Better than Crowdfunding</h1>
<br>
<br>

<img src="../../../assets/money-pyramid.png" style="float: left;" alt="pyramid" class="center"> <img src="../../../assets/people-pyramid.png" alt="pyramid" class="center">

</div>
</div>
<!-- easy as 123 -->
<div class="panel panel-default">
  <div class="panel-body">
    <h1 class="text-center">Campaigns as Easy as 1-2-3</h1>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-4 text-center">
        <span class="glyphicon  glyphicon-globe fa-5x"></span>
        <h3>Set Up a Community</h3>
       <p>There is no such thing as a "magical" online campaign. It is <strong>ALWAYS</strong> about who you know! We will help you set up a community, and guide you to success. </p>
      </div>
      <div class="col-sm-4 text-center">
          <span class="glyphicon glyphicon-home fa-5x"></span>
        <h3>Build your Campaign</h3>
        <p>We have an <strong>EASY</strong> setup to create your campaign! With our <strong>UNIQUE</strong> (patent pending) method, campaigns will nver be as easy as it is with Todah!</p>
        
      </div>
      <div class="col-sm-4 text-center">
          <span class="glyphicon glyphicon-piggy-bank fa-5x"></span>
          <h3>Immediately Get your Contributions!</h3>
          <p>With Todah, there is <strong>NO</strong> wait! You will recieve your contributions <strong>
            IMMEDIATELY</strong>!</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2">
  <img src="../../../assets/girl4.jpg" alt="testimonial1" style="border-radius:50%; height:150px; width:150px; "></div><div class="col-md-4"><br><br><p>"I had no idea raising this much money would happen so fast! Todah will always be the fundraising site I will use! Thank you, Katherine Brooks!" -Kelly</p></div>
</div>
<div class="row">
    <div class="col-md-2">
  <img src="../../../assets/guy7.jpg" alt="testimonial2" style="border-radius:50%; height:150px; width:150px; "></div><div class="col-md-4"><br><br><p>"I have been fundraising both the old-school way, and through Go Fund Me! They have never delivered like Todah. Never again, Go Fund Me! I'm here to stay!"-Bill</p>
    </div>
    </div>
    <div class="row">
        <div class="col-md-2">
  <img src="../../../assets/girl6.jpg" alt="testimonial3" style="border-radius:50%; height:150px; width:150px;"></div><div class="col-md-4"><p>"Todah is great! It is so easy to set up and use. I just send a link to all the people in my community and, BAM!, They use it and my non-profit gets the help it needs!"-Jan</p>
</div>
</div>