/* Header */

/* div {
  width: 100%;
} */

.jumbotron {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 99.5vw;
  margin-left: -1%;
  border-radius: 0%;

}

.panel {
  background-color: lightgray;

}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* Video */

.jumbotronv {
  background-color: lightgray;
  width: 100%;
  height: auto;
}

iframe {
  float: center;
  display: block;
  margin: 0 auto;

}

/* Fundraising  */

.containerf {
  width: 100%;


}

/* Traditional  */


.responsive {
  float: left;
  width: 100%;
  height: auto;
  max-width:1300px;

}
#traditional {
  font-size: 1.7vw;
  height: 40%;
  padding: 4% 6%;

 
} 

/* Crowfunding */

#crowfunding {
  font-size: 1.7vw;
  padding: 2% 6%;
  text-align: center;
  

} 

.responsive2 {
  width: 100%;
  height: auto;
  max-width:1300px;
  /* float:right; */
}



/*  Todah  */
.jumbotron3 {
  height: auto;
  width: 100%;
}

.responsive3 {
  width: 100%;
  height: auto;
  max-width:800px;
 
}
.responsive4 {
  width: 100%;
  height: auto;
  max-width:800px;
}
#todah {
  font-size: 1.5vw;
  height: 40%;
  width: 70%;
  padding:2% 8%;
  text-align: center;
 margin: auto;
 
} 


/* Easy as 1-2-3 */

#Campaigns{
  background-color: whitesmoke;
}




/* Campaigners */


.panelc {
  background-image: linear-gradient(rgba(128,128,128,0.9), rgba(128,128,128,0.9)), url("../../../assets/splash1.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;

} 

  #happy {
    text-align: center;
    color: white;

  }
  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    /* border-style: inset; */
    border-width: 4px;
    width: 8%;
    border-color: #257692;
  
  }


  .first, .sec, .third {
    color: white;
  }
  

/*  Footer */

.footer {
  background-color: #257692;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 3%;
  margin-bottom: -4%;
  margin-left: -2%;

 } 

.btn {
  font-size: 20px;
  border-radius: 0%;
  background-color: #63bad3;
  color: white;
  padding: 1% 2%;

 
}