
<div class="jumbotron" style="background-image: url('../../assets/jumbo.jpeg')">
  <div class="container" style="text-align: center">
    <h1 style="color: white">Todah</h1>
    <h3 style="color: white">Smaller Gifts, Bigger Impact</h3>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>  
    <!-- Button to scroll down to promo video -->
    <p><a href="#video" role="button" class="btn btn-primary large">Watch!</a></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <!-- Promo video here -->
    <div class="col-md-12" style=" text-align: center">
      <img src="../../assets/jumbo.jpeg" style="max-width: 60%" id="video">
    </div>
    <!-- Comparison of different fundraising techniques and pathway to creating campaign here -->
    <div class="col-md-12">
     
    </div>
  </div>
</div>