

.jumbotron {
  height: 100vh;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}