<div class="jumbotron" style="background-image: linear-gradient(
  rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.4)
),
url('https://images2.imgbox.com/17/06/YjrwqNJr_o.jpg')  ">
  <div class="container" style="text-align: center">
    <h1 class="GB" style="color: #63bad3">todah</h1>
    <h3 class="G" style="color:#63bad3">Smaller Gifts, Bigger Impact</h3>
  <br>
  <br>
    <!-- Button to scroll down to promo video -->
    <p>
      <button class="btn btn-lg" [scrollTo]="'iframe'" [scrollDuration]="1500" [scrollOffset]="-200">Watch video!</button>
    </p>
  </div>
</div>
<!-- Promo video here -->
<!-- <div class="panel-fluid"> -->
<div class='panel panel-fluid '>
  <div class='panel-body'>
    <div class="container-fluid">
      <div class="container">
        <iframe src="https://player.vimeo.com/video/262034342" width="800" height="600" align="middle" frameborder="0" webkitallowfullscreen
          mozallowfullscreen allowfullscreen></iframe>
        <p>
          <a href="https://vimeo.com/262034342"></a>
          <a href="https://vimeo.com/user83341283"></a>
          <a href="https://vimeo.com"></a>.</p>
      </div>
      <br>
      <br>
<!-- this is the start of the auto margin issue -->
      <!-- Fundraising -->
      <h1 class="text-center" style="font-size:60px;">Todah is Better than crowdfunding </h1>
      <br>
      <hr class="todah">
      <br>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-lg-6 text-center">
          <img class="responsive" src="../../../assets/traditional.png" alt="traditional">
        </div>
        <div class="col-lg-6">
          <div class="tran">
            <h1 class="text center" style="font-size:60px;">Traditional</h1>
            <br>
            <p id="traditional">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas commodi reiciendis quisquam cum! Vitae illo nesciunt
              molestiae animi accusantium consequuntur, ullam esse voluptatem facilis dolor quaerat assumenda laborum, ratione
              dolores?
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h1 class="text center" style="font-size:60px;">Crowdfunding</h1>
          <br>
          <br>
          <br>
          <p id="crowfunding"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta magnam unde repellat doloribus est. Aspernatur
            minus magni veniam officiis iure placeat autem iusto provident unde, sint perferendis est a dignissimos?
          </p>
        </div>
        <div class="col-lg-6 text-center">
          <img class="responsive2" src="../../../assets/crowdfunding.png" alt="crowfunding">
        </div>
      </div>
      <br>
      <h1 class="text-center" style="font-size:60px;">Todah</h1>
      <hr class="TodahUnder">
      <br>
      <br>
      <div class="row">
        <div class="col-sm-6 text-center">
          <img class="responsive3" src="../../../assets/1.PNG" alt="todah">
        </div>
        <div class="col-sm-6 text-center">
          <img class="responsive4" src="../../../assets/2.PNG" alt="todah">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p id="todah">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non autem excepturi dolore voluptas architecto ex, ab
            dolorem sed ducimus maxime ullam dolor tempora tenetur aperiam, magni, rem iusto quae animi?</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- easy as 123 -->
<div class="panel panel-default" id="Campaigns">
  <div class="panel-body">
    <h1 class="text-center">Campaigns as Easy as 1-2-3</h1>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-4 text-center">
        <span class="glyphicon  glyphicon-globe fa-5x"></span>
        <h3>Set Up a Community</h3>
        <p>There is no such thing as a "magical" online campaign. It is
          <strong>ALWAYS</strong> about who you know! We will help you set up a community, and guide you to success.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <span class="glyphicon glyphicon-home fa-5x"></span>
        <h3>Build your Campaign</h3>
        <p>We have an
          <strong>EASY</strong> setup to create your campaign! With our
          <strong>UNIQUE</strong> (patent pending) method, campaigns will nver be as easy as it is with Todah!</p>
      </div>
      <div class="col-md-4 text-center ">
        <span class="glyphicon glyphicon-piggy-bank fa-5x"></span>
        <h3>Immediately Get your Contributions!</h3>
        <p>With Todah, there is
          <strong>NO</strong> wait! You will recieve your contributions
          <strong>
            IMMEDIATELY</strong>!</p>
      </div>
    </div>
  </div>
</div>
<!-- Campaigners -->
<div id="happyCampaigners">
  <div class="panel-body">
    <h1 class id="happy">Happy Campaigners </h1>
    <br>
    <hr>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="first">
        <div class="col-sm-4 text-center">
          <h3>"I had no idea raising this much money would happen so fast! Todah will always be the fundraising site I will use!
            Thank you, Katherine Brooks!"</h3>
          <br>
          <p>
            <img src="../../../assets/girl4.jpg" alt="camille1" style="height:85px; width:85px; border-radius: 50%; "> Kelly</p>
        </div>
      </div>
      <div class="sec">
        <div class="col-sm-4 text-center">
          <h3>"I have been fundraising both the old-school way, and through Go Fund Me! They have never delivered like Todah.
            Never again, Go Fund Me! I'm here to stay!"</h3>
          <br>
          <p>
            <img src="../../../assets/guy7.jpg" alt="streetstyle" style=" height:85px; width:85px; border-radius: 50%; "> Bill</p>
        </div>
      </div>
      <div class="third">
        <div class="col-sm-4 text-center">
          <h3>"Todah is great! It is so easy to set up and use. I just send a link to all the people in my community and, BAM!,
            They use it and my non-profit gets the help it needs!"</h3>
          <p>
            <img src="../../../assets/girl6.jpg" alt="other" style=" height:85px; width:85px; border-radius: 50%;"> Jan</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer text-center">
  <a routerLink="/startCampaign">
    <button class="btn btn-lg" style="background-color: #FCC63C">Start Campaign</button>
  </a>
</div>