input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 1px solid red;
  }




  .btn-primary,
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary:focus,
  .btn-warning,
  .btn-warning:hover,
  .btn-warning:active,
  .btn-warning:visited,
  .btn-warning:focus,
  .btn-danger,
  .btn-danger:hover,
  .btn-danger:active,
  .btn.danger:visited,
  .btn.dnager:focus {
   
    border-radius: 0%;
   
    padding: 1% 2%;
    border-color: #63bad3 !important;
}