<div class="container">
  <div class="row">
    <h1 style="text-align: center">Start Your Own Campaign!</h1>
    <h2 style="text-align: center">Create Your Campaign!</h2>
    <h3>Basic Information (1/3)</h3>
    <!-- Form -->
    <div class="col-md-8">
      <form [formGroup]="campaignForm" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <p>Once you publish, there will be a 24-48 hour delay while the Todah team reviews your campaign. Also be prepared that
          you will have to create or link a WePay account with your campaign to receive payments from your donors.</p>
        <div>
          <div class="form-group">
            <label>Type and Select Organization Name (or 501(c)(3)number)
              <sup>*</sup>
            </label>
            <input type="text" placeholder="Organization Name" id="organization_name" formControlName="organization_name" class="form-control">
            <!-- <span 
              *ngIf="!campaignForm.get('campaignData.organization_name').valid && campaignForm.get('campaignData.organization_name').touched" 
              class="help-block">Please enter an organization name.</span> -->
          </div>
          <div class="form-group">
            <label>Chapter Name</label>
            <input type="text" placeholder="Organization Chapter Name or Number (if applicable)" id="organization_chapter_name" formControlName="organization_chapter_name"
              class="form-control">
          </div>
          <div class="form-group">
            <label>Staff Name</label>
            <input type="text" placeholder="Organization Staff Name or Number (if applicable)" id="organization_staff_name" formControlName="organization_staff_name"
              class="form-control">
          </div>
          <div class="form-group">
            <label>Campaign Title
              <sup>*</sup>
            </label>
            <input type="text" placeholder="Campaign's Title" id="project_title" formControlName="project_title" class="form-control">
            <!-- <span 
              *ngIf="!campaignForm.get('campaignData.project_title').valid && campaignForm.get('campaignData.project_title').touched" 
              class="help-block">Please enter a campaign title.</span> -->
          </div>
          <div class="form-group">
            <label>Campaign Creator Role (i.e volunteer, staff, member, etc.)
              <sup>*</sup>
            </label>
            <p>Your relationship to the organization for which you are creating this campaign. (i.e. volunteer, staff member,
              etc.)</p>
            <input type="text" placeholder="Project Role" id="project_role" formControlName="project_role" class="form-control">
            <!-- <span 
              *ngIf="!campaignForm.get('campaignData.project_role').valid && campaignForm.get('campaignData.project_role').touched" 
              class="help-block">Please enter a campaign creator role.</span> -->
          </div>
          <div class="form-group">
            <label>Campaign Category
              <sup>*</sup>
            </label>
            <br>
            <!-- (change)="selectDropdown($event)" -->
            <select [ngModel]="defaultDropdownDirection" formControlName="project_purpose">
              <option value="select">--Please select one category below--</option>
              <option value="Animals" class="form-control">Animals</option>
              <option value="Arts & Culture" class="form-control">Arts & Culture</option>
              <option value="Children & Youth" class="form-control">Children & Youth</option>
              <option value="Disabilites" class="form-control">Disabilites</option>
              <option value="Disaster Relief" class="form-control">Disaster Relief</option>
              <option value="Economic Development" class="form-control">Economic Development</option>
              <option value="education" class="form-control">Education</option>
              <option value="Education" class="form-control">Environment</option>
              <option value="Faith" class="form-control">Faith</option>
              <option value="Girls & Women" class="form-control">Girls & Women</option>
              <option value="Global Issues" class="form-control">Global Issues</option>
              <option value="Health" class="form-control">Health</option>
              <option value="Poverty" class="form-control">Poverty</option>
              <option value="Science & Technology" class="form-control">Science & Technology</option>
              <option value="Veterans" class="form-control">Veterans</option>
            </select>
            <!-- <span 
              *ngIf="!campaignForm.get('campaignData.project_purpose').valid && campaignForm.get('campaignData.project_purpose').touched" 
              class="help-block">Please enter a campaign title.</span> -->
          </div>
          <br>
          <div class="form-group">
            <label>Campaign Teaser
              <sup>*</sup>
            </label>

            <p>Your campaign teaser will appear with your main campaign image on Todah homepage as well as on any social media
              or email posts used to promote your campaign.</p>

            <textarea [(ngModel)]="textCount" (keyup)="count(textCount)" type="text" placeholder="Short Description" id="project_short_description"
              formControlName="project_short_description" class="form-control"></textarea>
            <p>characters left: {{ characterLeft }}</p>
            

              <!-- <span 

              *ngIf="!campaignForm.get('campaignData.project_short_description').valid && campaignForm.get('campaignData.project_short_description').touched" 
              class="help-block">Please enter a short description for your campaign.</span> -->
          </div>
          <div class="form-group">
            <label>Campaign Long Description
              <sup>*</sup>
            </label>
            <p>Enter your Campaign’s purpose. This purpose will be the main description of your Campaign, so be as detailed
              as you can!</p>
            <textarea [(ngModel)]="longDes" (keyup)="longCount(longDes)" type="text" placeholder="Long Description" id="campaign_slug" formControlName="campaign_slug" class="form-control"></textarea>
            <p>characters left: {{ textRemaining }}</p>
            <!-- <span 
              *ngIf="!campaignForm.get('campaignData.campaign_slug').valid && campaignForm.get('campaignData.campaign_slug').touched" 
              class="help-block">Please enter a full description for your campaign.</span> -->
            <!-- limit to 255 characters -->
          </div>
          <div class="form-group">
            <label>Organization Website</label>
            <input type="text" placeholder="Organization Website" id="project_website" formControlName="project_website" class="form-control">
          </div>
          <div class="form-group">
            <label>Upload your Main Campaign Image
              <sup>*</sup>
            </label>

            <!-- <input type="file" id="file" class="form-control" (change)="fileInput($event.target.files)" formControlName="project_image" #MainImage> -->

            <br>
            <!-- look into event.file -->
            <!-- (uploadFinished)="onUploadFinished($event.file)"> not recongnized as a function-->
            <!-- <span 
              *ngIf="!campaignForm.get('campaignData.project_image_thumb_url').valid && campaignForm.get('campaignData.project_image_thumb_url').touched" 
              class="help-block">Please upload an image for your campaign.</span> -->
          </div>
          <!-- <div class="form-group">
            <label>Upload Additional Images and Videos</label>
            <input type="file" id="file" class="form-control" (change)="fileInput($event.target.files)" formControlName="project_video" >
          <br>
          </div> -->
          <div class="form-group">
            <label>Facebook Url</label>
            <input type="text" placeholder="Facebook url" id="facebook_url" formControlName="facebook_url" class="form-control">
          </div>
          <div class="form-group">
            <label>Twitter Url</label>
            <input type="text" placeholder="Twitter url" id="twitter_url" formControlName="twitter_url" class="form-control">
          </div>
          <div class="form-group">
            <label>Instagram Url</label>
            <input type="text" placeholder="Instragram url" id="instagram_url" formControlName="instagram_url" class="form-control">
          </div>
          <div class="form-group">
            <label>YouTube Url</label>
            <input type="text" placeholder="YouTube url" id="youtube_url" formControlName="youtube_url" class="form-control">
          </div>
        </div>


        <!-- <button class="btn btn-primary" type>Submit</button> -->


        <hr>
        <div class="row">
          <div class="col-md-4">
              <button type="submit" class="btn btn-warning">Save and Go to Next Step!</button>
          </div>
          <div class="col-md-4">
            <a routerLink="/profile">
              <button type="button" class="btn btn-primary">Save for Later</button>
            </a>
            <br>

          </div>
          <div class="col-md-4">
            <a routerLink="/deleteCampaign">
              <button type="button" class="btn btn-danger">Delete this Fundraiser :(</button>
            </a>
          </div>
          
          </div>
      </form>
    <!-- </div> -->



    <!-- Preview Card -->
    <!-- on another page? -->
    <!-- <div class="col-md-4">
      <h3>Preview of your Campaign</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis officiis sed quas eaque saepe nisi dolores eum error esse consectetur repudiandae aliquid atque dignissimos iste, ut doloribus quis? Deleniti, laudantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum id, obcaecati tempore esse laboriosam animi earum placeat impedit, et saepe doloremque assumenda autem deleniti debitis corrupti tenetur soluta numquam delectus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, corrupti repellendus blanditiis nemo, mollitia, in libero cum itaque adipisci vel sapiente quidem maxime ab earum qui assumenda sequi perspiciatis a.</p>
      <div style="text-align: center"> -->
    <!-- This button produces a modal of profile -->
    <!-- <button type="button" class="btn btn-default">Preview your Campaign!</button>
      </div>
    </div>
  </div>
</div>
<br><br><br> -->