<div class="container">
  <div class="row">
    <h1 style="text-align: center">Start Your Own Campaign!</h1>
    <h2 style="text-align: center">Create Your Campaign!</h2>
    <h3>Basic Information (1/3)</h3>
    <!-- Form -->
   <div class="col-md-8">
      <form [formGroup]="campaignForm" #f (ngSubmit)="onSubmit()">
        <p>Once you publish, there will be a 24-48 hour delay while the Todah team
           reviews your campaign. Also be prepared that you will have to create or link a WePay account 
           with your campaign to receive payments from your donors.</p>
          <div class="form-group">
            <label>Type and Select Organization Name (or 501(c)(3)number)<sup>*</sup></label>
              <input 
                type="text"
                placeholder="Organization Name"
                id="orgName"
                formControlName="orgName"
                class="form-control">
          </div>
          <div class="form-group">
            <label>Chapter Name</label>
              <input 
                type="text"
                placeholder="Organization Chapter Name or Number (if applicable)"
                id="chapterName"
                formControlName="chapterName"
                class="form-control">
          </div>
          <div class="form-group">
              <label>Staff Name</label>
                <input 
                  type="text"
                  placeholder="Organization Staff Name or Number (if applicable)"
                  id="staffName"
                  formControlName="staffName"
                  class="form-control">
            </div>
          <div class="form-group">
              <label>Campaign Title<sup>*</sup></label>
                <input 
                  type="text"
                  placeholder="Campaign's Title"
                  id="campaignTitle"
                  formControlName="campaignTitle"
                  class="form-control">
            </div>
            <div class="form-group">
                <label>Campaign Creator Role (i.e volunteer, staff, member, etc.)<sup>*</sup></label>
                  <input 
                    type="text"
                    placeholder="Project Role"
                    id="campaignCreatorRole"
                    formControlName="campaignCreatorRole"
                    class="form-control">
              </div>
              <div class="form-group">
                <label>Campaign Category<sup>*</sup></label>
                <br>
                <!-- (change)="selectDropdown($event)" -->
                <select [ngModel]="defaultDropdownDirection" formControlName="campaignCategory">
                  <option value="select">--Please select one category below--</option>
                  <option value="Animals" class="form-control">Animals</option>
                  <option value="Arts & Culture" class="form-control">Arts & Culture</option>
                  <option value="Children & Youth" class="form-control">Children & Youth</option>
                  <option value="Disabilites" class="form-control">Disabilites</option>
                  <option value="Disaster Relief" class="form-control">Disaster Relief</option>
                  <option value="Economic Development" class="form-control">Economic Development</option>
                  <option value="education" class="form-control">Education</option>
                  <option value="Education" class="form-control">Environment</option>
                  <option value="Faith" class="form-control">Faith</option>
                  <option value="Girls & Women" class="form-control">Girls & Women</option>
                  <option value="Global Issues" class="form-control">Global Issues</option>
                  <option value="Health" class="form-control">Health</option>
                  <option value="Poverty" class="form-control">Poverty</option>
                  <option value="Science & Technology" class="form-control">Science & Technology</option>
                  <option value="Veterans" class="form-control">Veterans</option>
                </select>
              </div>
              <br>
              <div class="form-group">
                  <label>Campaign Teaser<sup>*</sup></label>
                    <textarea 
                      type="text"
                      placeholder="Short Description"
                      id="campaignTeaser"
                      formControlName="campaignTeaser"
                      class="form-control">
                    </textarea>
                </div>
                <div class="form-group">
                    <label>Campaign Long Description<sup>*</sup></label>
                      <textarea 
                        type="text"
                        placeholder="Long Description"
                        id="campaignLongDesc"
                        formControlName="campaignLongDesc"
                        class="form-control">
                      </textarea>
                  </div>
              <div class="form-group">
                  <label>Organization Website</label>
                    <input 
                      type="text"
                      placeholder="Organization Website"
                      id="orgWebsite"
                      formControlName="orgWebsite"
                      class="form-control">
                </div>
                <div class="form-group">
                    <label>Upload your Main Campaign Image<sup>*</sup></label>
                    <image-upload></image-upload>
                    <br>
                  </div>
                  <div class="form-group">
                      <label>Upload Additional Images and Videos</label>
                      <image-upload></image-upload>
                      <br>
                    </div>
                <div class="form-group">
                    <label>Facebook Url</label>
                      <input 
                        type="text"
                        placeholder="Facebook Link"
                        id="facebook"
                        formControlName="facebook"
                        class="form-control">
                  </div>
                  <div class="form-group">
                      <label>Twitter Url</label>
                        <input 
                          type="text"
                          placeholder="Twitter Link"
                          id="twitter"
                          formControlName="twitter"
                          class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Instagram Url</label>
                          <input 
                            type="text"
                            placeholder="Instragram Link"
                            id="instagram"
                            formControlName="instagram"
                            class="form-control">
                      </div>
                      <div class="form-group">
                          <label>YouTube Url</label>
                            <input 
                              type="text"
                              placeholder="YouTube Link"
                              id="youtube"
                              formControlName="youtube"
                              class="form-control">
                        </div>
                        <button class="btn btn-primary" type>Submit</button>
      </form> 
    </div> 
 
      <hr>
      <div class="row">
        <div class="col-md-4">
          <a routerLink="/startCampaign-form2"><button type="submit" class="btn btn-warning">Save and Go to Next Step!</button></a>
        </div>
        <br>
        <br>
        <div class="col-md-4">
          <a routerLink="/profile"><button type="button" class="btn btn-primary">Save for Later</button></a>
        </div>
        <br>
        <br>
        <div class="col-md-4">
          <a routerLink="/deleteCampaign"><button type="button" class="btn btn-danger">Delete this Fundraiser :(</button></a>
        </div>
      </div>
    
    
    <!-- Preview Card -->
    <!-- on another page? -->
    <div class="col-md-4">
      <h3>Preview of your Campaign</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis officiis sed quas eaque saepe nisi dolores eum error esse consectetur repudiandae aliquid atque dignissimos iste, ut doloribus quis? Deleniti, laudantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum id, obcaecati tempore esse laboriosam animi earum placeat impedit, et saepe doloremque assumenda autem deleniti debitis corrupti tenetur soluta numquam delectus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, corrupti repellendus blanditiis nemo, mollitia, in libero cum itaque adipisci vel sapiente quidem maxime ab earum qui assumenda sequi perspiciatis a.</p>
      <div style="text-align: center">
        <!-- This button produces a modal of profile -->
        <button type="button" class="btn btn-default">Preview your Campaign!</button>
      </div>
    </div>
  </div>
</div>
<br><br><br>
