<!-- This is the same as the personal cause section.  Maybe have just one component that speaks to both, but links to correct section on click -->


<div class="container">
  <div class="row">
    <h1 style="text-align: center">Start your Own Campaign!</h1>
    <h2 style="text-align: center">Plan for SUCCESS!!</h2>
   <h3 class="top"> <b>Todah Success Tool Questions:</b></h3>
   <br>
   <p> 1. Do you have active followers on your Facebook, Twitter, Instagram, and LinkedIn? </p>
   
      <div class="radio">
        <label><input type="radio" name="optradio">Yes</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="optradio">No</label>
      </div>
      
    
  
    
    <hr>
    <p>2. Do you have at least 20% of your goal pre-committed?</p>
    <div class="radio">
      <label><input type="radio" name="optradio">Yes</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">No</label>
    </div>
    <hr>
    <p>3. Will you target 90% more people than you need to reach your goal?</p>
    <div class="radio">
      <label><input type="radio" name="optradio">Yes</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">No</label>
    </div>
    <hr>
    <p>4. Do you have a communication/marketing plan for your campaign?</p>
    <div class="radio">
      <label><input type="radio" name="optradio">Yes</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">No</label>
    </div>
    <hr>
    <p>5. Do you have a video to promote your campaign?</p>
    <div class="radio">
      <label><input type="radio" name="optradio">Yes</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">No</label>
    </div>
    <hr>
    <p>6. Do you have pictures for your campaign?</p>
    <div class="radio">
      <label><input type="radio" name="optradio">Yes</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">No</label>
    </div>
    <hr>
    <p>7. Do you have a thank you plan for your donors?</p>
    <div class="radio">
      <label><input type="radio" name="optradio">Yes</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">No</label>
    </div>
    <hr>
    <p>8. Will you be posting 3-5 times a day on your social media to promote your campaign, updates, and general info about your work with the link to the campaign?</p>
    <div class="radio">
      <label><input type="radio" name="optradio">Yes</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">No</label>
    </div>
    <hr>
    <p>9. Do 75% or more of your donors give online?</p>
    <div class="radio">
      <label><input type="radio" name="optradio">Yes</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">No</label>
    </div>
    <hr>
   <p> 10. Will you spend at least a month preparing for the public launch of your campaign?</p>
   <div class="radio">
    <label><input type="radio" name="optradio">Yes</label>
  </div>
    
    <div class="radio">
      <label><input type="radio" name="optradio">No</label>
    </div>

    <hr>
   <p> 11. Have you built a team to help promote the campaign through various channels?</p>
   <div class="radio">
    <label><input type="radio" name="optradio">Yes</label>
  </div>
    
    <div class="radio">
      <label><input type="radio" name="optradio">No</label>
    </div>

    <div style="text-align: center">
      <h3>Are you Ready??</h3>
      <a routerLink="/startCampaign-form1"><button type="button" class="btn btn-primary">Start Your Campaign!</button></a>
    </div>
    <br><br><br>
  </div>
</div>