
<h1>login</h1>
<h4>Already Have an Account?</h4>
<div>
<label>Enter Your email</label>
<br>
<form [formGroup]="logForm" #f (ngSubmit)="onSubmit()">
<mat-input-container>
  <input matInput type="text" id="email" formControlName="email" >
</mat-input-container>



    <label>password</label>
    <br>
    <mat-input-container>
      <input matInput type="text" id="password" formControlName="password">
    </mat-input-container>

    <div mat-dialog-actions>
        <button mat-button class="popup-btn" (click)="onCloseConfirm()">Submit</button>
      </div>

      </form>